
demo.gulf.services/obj/staticwebassets.pack.sentinel
demo.gulf.services/obj/project.nuget.cache
demo.gulf.services/obj/project.assets.json
demo.gulf.services/obj/demo.gulf.services.csproj.nuget.g.targets
demo.gulf.services/obj/demo.gulf.services.csproj.nuget.g.props
demo.gulf.services/obj/demo.gulf.services.csproj.nuget.dgspec.json
demo.gulf.services/obj/Debug/net6.0/staticwebassets.build.json
demo.gulf.services/obj/Debug/net6.0/refint/demo.gulf.services.dll
demo.gulf.services/obj/Debug/net6.0/ref/demo.gulf.services.dll
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.pdb
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.MvcApplicationPartsAssemblyInfo.cs
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.MvcApplicationPartsAssemblyInfo.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.GlobalUsings.g.cs
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.genruntimeconfig.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.GeneratedMSBuildEditorConfig.editorconfig
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.dll
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.csproj.FileListAbsolute.txt
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.csproj.CoreCompileInputs.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.csproj.CopyComplete
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.csproj.AssemblyReference.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.assets.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.AssemblyInfoInputs.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.AssemblyInfo.cs
demo.gulf.services/obj/Debug/net6.0/apphost.exe
demo.gulf.services/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
demo.gulf.services/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
demo.gulf.services/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
demo.gulf.services/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.OpenApi.dll
demo.gulf.services/bin/Debug/net6.0/demo.gulf.services.runtimeconfig.json
demo.gulf.services/bin/Debug/net6.0/demo.gulf.services.pdb
demo.gulf.services/bin/Debug/net6.0/demo.gulf.services.exe
demo.gulf.services/bin/Debug/net6.0/demo.gulf.services.dll
demo.gulf.services/bin/Debug/net6.0/demo.gulf.services.deps.json
demo.gulf.services/bin/Debug/net6.0/appsettings.json
demo.gulf.services/bin/Debug/net6.0/appsettings.Development.json
