
demo.gulf.services/obj/staticwebassets.pack.sentinel
demo.gulf.services/obj/project.nuget.cache
demo.gulf.services/obj/project.assets.json
demo.gulf.services/obj/demo.gulf.services.csproj.nuget.g.targets
demo.gulf.services/obj/demo.gulf.services.csproj.nuget.g.props
demo.gulf.services/obj/demo.gulf.services.csproj.nuget.dgspec.json
demo.gulf.services/obj/Debug/net6.0/staticwebassets.build.json
demo.gulf.services/obj/Debug/net6.0/refint/demo.gulf.services.dll
demo.gulf.services/obj/Debug/net6.0/ref/demo.gulf.services.dll
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.pdb
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.MvcApplicationPartsAssemblyInfo.cs
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.MvcApplicationPartsAssemblyInfo.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.GlobalUsings.g.cs
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.genruntimeconfig.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.GeneratedMSBuildEditorConfig.editorconfig
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.dll
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.csproj.FileListAbsolute.txt
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.csproj.CoreCompileInputs.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.csproj.CopyComplete
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.csproj.AssemblyReference.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.assets.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.AssemblyInfoInputs.cache
demo.gulf.services/obj/Debug/net6.0/demo.gulf.services.AssemblyInfo.cs
demo.gulf.services/obj/Debug/net6.0/apphost.exe
demo.gulf.services/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
demo.gulf.services/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
demo.gulf.services/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
demo.gulf.services/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.OpenApi.dll
demo.gulf.services/bin/Debug/net6.0/demo.gulf.services.runtimeconfig.json
demo.gulf.services/bin/Debug/net6.0/demo.gulf.services.pdb
demo.gulf.services/bin/Debug/net6.0/demo.gulf.services.exe
demo.gulf.services/bin/Debug/net6.0/demo.gulf.services.dll
demo.gulf.services/bin/Debug/net6.0/demo.gulf.services.deps.json
demo.gulf.services/bin/Debug/net6.0/appsettings.json
demo.gulf.services/bin/Debug/net6.0/appsettings.Development.json
demo.gulf.business/bin/Debug/net6.0/demo.gulf.business.deps.json
demo.gulf.business/bin/Debug/net6.0/demo.gulf.business.dll
demo.gulf.business/bin/Debug/net6.0/demo.gulf.business.pdb
demo.gulf.business/bin/Debug/net6.0/demo.gulf.model.dll
demo.gulf.business/bin/Debug/net6.0/demo.gulf.model.pdb
demo.gulf.business/bin/Debug/net6.0/demo.gulf.repositories.dll
demo.gulf.business/bin/Debug/net6.0/demo.gulf.repositories.pdb
demo.gulf.business/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.AssemblyInfo.cs
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.AssemblyInfoInputs.cache
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.assets.cache
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.csproj.AssemblyReference.cache
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.csproj.CopyComplete
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.csproj.CoreCompileInputs.cache
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.csproj.FileListAbsolute.txt
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.dll
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.GeneratedMSBuildEditorConfig.editorconfig
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.GlobalUsings.g.cs
demo.gulf.business/obj/Debug/net6.0/demo.gulf.business.pdb
demo.gulf.business/obj/Debug/net6.0/ref/demo.gulf.business.dll
demo.gulf.business/obj/Debug/net6.0/refint/demo.gulf.business.dll
demo.gulf.business/obj/demo.gulf.business.csproj.nuget.dgspec.json
demo.gulf.business/obj/demo.gulf.business.csproj.nuget.g.props
demo.gulf.business/obj/demo.gulf.business.csproj.nuget.g.targets
demo.gulf.business/obj/project.assets.json
demo.gulf.business/obj/project.nuget.cache
demo.gulf.model/bin/Debug/net6.0/demo.gulf.model.deps.json
demo.gulf.model/bin/Debug/net6.0/demo.gulf.model.dll
demo.gulf.model/bin/Debug/net6.0/demo.gulf.model.pdb
demo.gulf.model/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
demo.gulf.model/obj/Debug/net6.0/demo.gulf.model.AssemblyInfo.cs
demo.gulf.model/obj/Debug/net6.0/demo.gulf.model.AssemblyInfoInputs.cache
demo.gulf.model/obj/Debug/net6.0/demo.gulf.model.assets.cache
demo.gulf.model/obj/Debug/net6.0/demo.gulf.model.csproj.AssemblyReference.cache
demo.gulf.model/obj/Debug/net6.0/demo.gulf.model.csproj.CoreCompileInputs.cache
demo.gulf.model/obj/Debug/net6.0/demo.gulf.model.csproj.FileListAbsolute.txt
demo.gulf.model/obj/Debug/net6.0/demo.gulf.model.dll
demo.gulf.model/obj/Debug/net6.0/demo.gulf.model.GeneratedMSBuildEditorConfig.editorconfig
demo.gulf.model/obj/Debug/net6.0/demo.gulf.model.GlobalUsings.g.cs
demo.gulf.model/obj/Debug/net6.0/demo.gulf.model.pdb
demo.gulf.model/obj/Debug/net6.0/ref/demo.gulf.model.dll
demo.gulf.model/obj/Debug/net6.0/refint/demo.gulf.model.dll
demo.gulf.model/obj/demo.gulf.model.csproj.nuget.dgspec.json
demo.gulf.model/obj/demo.gulf.model.csproj.nuget.g.props
demo.gulf.model/obj/demo.gulf.model.csproj.nuget.g.targets
demo.gulf.model/obj/project.assets.json
demo.gulf.model/obj/project.nuget.cache
demo.gulf.repositories/bin/Debug/net6.0/demo.gulf.model.dll
demo.gulf.repositories/bin/Debug/net6.0/demo.gulf.model.pdb
demo.gulf.repositories/bin/Debug/net6.0/demo.gulf.repositories.deps.json
demo.gulf.repositories/bin/Debug/net6.0/demo.gulf.repositories.dll
demo.gulf.repositories/bin/Debug/net6.0/demo.gulf.repositories.pdb
demo.gulf.repositories/bin/Debug/net6.0/demo.gulf.repositories.runtimeconfig.json
demo.gulf.repositories/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.AssemblyInfo.cs
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.AssemblyInfoInputs.cache
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.assets.cache
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.csproj.AssemblyReference.cache
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.csproj.CopyComplete
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.csproj.CoreCompileInputs.cache
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.csproj.FileListAbsolute.txt
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.dll
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.GeneratedMSBuildEditorConfig.editorconfig
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.genruntimeconfig.cache
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.GlobalUsings.g.cs
demo.gulf.repositories/obj/Debug/net6.0/demo.gulf.repositories.pdb
demo.gulf.repositories/obj/Debug/net6.0/ref/demo.gulf.repositories.dll
demo.gulf.repositories/obj/Debug/net6.0/refint/demo.gulf.repositories.dll
demo.gulf.repositories/obj/demo.gulf.repositories.csproj.EntityFrameworkCore.targets
demo.gulf.repositories/obj/demo.gulf.repositories.csproj.nuget.dgspec.json
demo.gulf.repositories/obj/demo.gulf.repositories.csproj.nuget.g.props
demo.gulf.repositories/obj/demo.gulf.repositories.csproj.nuget.g.targets
demo.gulf.repositories/obj/project.assets.json
demo.gulf.repositories/obj/project.nuget.cache
demo.gulf.services/bin/Debug/net6.0/demo.gulf.business.dll
demo.gulf.services/bin/Debug/net6.0/demo.gulf.business.pdb
demo.gulf.services/bin/Debug/net6.0/demo.gulf.model.dll
demo.gulf.services/bin/Debug/net6.0/demo.gulf.model.pdb
demo.gulf.services/bin/Debug/net6.0/demo.gulf.repositories.dll
demo.gulf.services/bin/Debug/net6.0/demo.gulf.repositories.pdb
demo.gulf.services/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.Identity.Client.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
demo.gulf.services/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
demo.gulf.services/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
demo.gulf.services/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
demo.gulf.services/bin/Debug/net6.0/System.Drawing.Common.dll
demo.gulf.services/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
demo.gulf.services/bin/Debug/net6.0/System.Runtime.Caching.dll
demo.gulf.services/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
demo.gulf.services/bin/Debug/net6.0/System.Security.Permissions.dll
demo.gulf.services/bin/Debug/net6.0/System.Windows.Extensions.dll
